<div class="card">
  <form
    class="auth-form"
    (submit)="authService.signIn(userName.value, userPassword.value)"
  >
    <h3>Sign In</h3>
    <input
      type="text"
      class="formControl"
      placeholder="Username"
      #userName
      required
    />
    <input
      type="password"
      class="formControl"
      placeholder="Password"
      #userPassword
      required
    />
    <!-- Calling SignIn Api from AuthService -->
    <button
      type="button"
      class="btn btn-login"
      (click)="authService.signIn(userName.value, userPassword.value)"
    >
      Log in
    </button>
    <!-- Calling GoogleAuth Api from AuthService -->
  </form>
  <button
    type="button"
    class="btn btn-google"
    (click)="authService.googleAuth()"
  >
    <i class="fab fa-google-plus-g"></i>
    Log in with Google
  </button>
  <div class="forgotPassword">
    <span (click)="authService.forgotPassword(userName.value)">
      Forgot Password?
    </span>
  </div>
</div>
