#background-wallpaper {
  background-image: url("../assets/img/LanHome.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  filter: blur(5px);
}
