<!-- <div class="col-10 col-md-2 col-xl-2 offset-xl-5 offset-md-5 offset-1 jumbotron">
    <form [formGroup]="authForm" (ngSubmit)="login()">
        <fieldset [disabled]="isSubmitting">
            <i class="fas fa-user-circle" style="font-size: 2em; margin-bottom: 10px; color: white;" ></i>               

            <div class="form-group">
                    <input width="80%" (blur)="emailFocusLoss = true" type="email" class="form-control" formControlName="email" placeholder="Courriel">
                    <mat-error class="error" *ngIf="emailFocusLoss">{{getEmailErrorMessage()}}</mat-error>
            </div>
            <div class="form-group">
                    <input width="80%" (blur)="passwordFocusLoss = true" type="password" class="form-control"
                        formControlName="password" placeholder="Mot de passe">
                    <mat-error class="error" *ngIf="passwordFocusLoss">{{getPasswordErrorMessage()}}</mat-error>
            </div>
            <button color="primary" id="login-button">Se connecter</button>
        </fieldset>
    </form>
</div> -->
<!-- Section de connexion avec l'API -->
<div class="banner col-10 col-md-4 col-xl-4 offset-xl-4 offset-md-4 offset-1">
    <h2 class="banner">Connexion</h2>
</div>

<div class="col-10 col-md-4 col-xl-4 offset-xl-4 offset-md-4 offset-1 formContainer" style="background-color: #232323 ; padding:10px; padding-top: 20px;border-radius: 0px 0px 5px 5px;">
    <form [formGroup]="authForm" (ngSubmit)="login()">
        <fieldset>

            <!-- Champ pour le courriel de l'utilisateur -->
            <mat-form-field appearance="outline">
                <mat-label style="color:white">Courriel</mat-label>
                <input matInput formControlName="email" type="email" placeholder="moi@adeptinfo.ca">
                <mat-error>{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <br />


            <!-- Champ pour le mot de passe de l'utlisateur -->
            <mat-form-field appearance="outline">
                <mat-label style="color:white">Mot de Passe</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Passw0rd!">
                <mat-error>{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <br />
            <!-- Bouton de connection -->
            <button mat-raised-button color="primary" id="login-button" style="color:white;">Se connecter</button>

        </fieldset>
    </form>
</div>