<div class="container" [class.is-mobile]="!mobileQuery.matches">

  <!-- Barre de navigation dans l'application -->
  <mat-toolbar color="primary" *appShowAuthed="true">

    <!-- Bouton pour ouvrir le menu mobile -->
    <button *ngIf="!mobileQuery.matches" mat-icon-button class="hamburger" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Titre de l'application -->
    <button [class.app-title-mobile]="!mobileQuery.matches" [routerLink]="['']" mat-button>
      Admin LAN ADEPT
    </button>

    <!-- Items de menu de navigation dans l'application -->
    <button mat-button *ngIf="mobileQuery.matches" class="menu-item">
      <mat-icon>developer_board</mat-icon>
      Accueil
    </button>

    <!-- Remplir l'espace entre les items de menu de l'application et les items de menu du  compte de l'utilisateur -->
    <span class="fill-space"></span>

    <!-- Bouton du menu déroulant -->
    <button *ngIf="mobileQuery.matches" mat-button [matMenuTriggerFor]="userMenu">{{currentUser.first_name}}</button>

    <!-- Items de menu du compte de l'utilisateur -->
    <mat-menu #userMenu="matMenu">
      <button (click)="logout()" mat-menu-item>Se déconnecter</button>
      <a href="{{getPlayerUrl()}} " mat-menu-item target="_blank">
        Site principal
        <mat-icon>last_page</mat-icon>
      </a>
    </mat-menu>

  </mat-toolbar>

  <!--  Navigation mobile -->
  <mat-sidenav-container [style.marginTop.px]="!mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav mode="over" [fixedInViewport]="!mobileQuery.matches" [fixedTopGap]="56">
      <mat-nav-list>

        <!-- Items de menu de navigation dans l'application -->
        <a mat-list-item (click)="snav.toggle()" routerLink="." class="mobile-menu-item">
          <mat-icon>developer_board</mat-icon>
          Accueil
        </a>
        <mat-divider></mat-divider>

        <!-- Section du compte de l'utilisateur -->
        <div class="mobile-title">
          Compte
        </div>

        <a mat-list-item (click)="logout(); snav.toggle()" class="mobile-menu-item">
          <mat-icon>power_settings_new</mat-icon>
          Déconnexion
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <!-- Section de l'application à afficher selon l'URL courante -->
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Pied de page de l'application -->
  <app-layout-footer></app-layout-footer>

</div>