#ContentMobile{
    height: 100%;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 10px;
}