a {
    color: #d21013;
}

a:hover,
a:active,
a:focus {
    color: #d21013;
}

.back-to-top {
    background: #d21013;
}

.green {
    color: #d2102d;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    border-left: 4px solid #d21013;
}

.btn-get-started {
    background: #d21013;
}

.btn-Participer {
    background: #d21013;
}

a:hover,
a:active,
a:focus {
    color: 	#FFD600;
    outline: none;
    text-decoration: none;
} 

.btn-Participer:hover,
.btn-Participer:active,
.btn-Participer:focus {
    color: #d21013;
    background-color: #FFD600;
    outline: none;
    text-decoration: none;
} 

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #d21013;
}

.nav-menu ul li:hover>a {
    color: #d21013;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #d21013;
}

#mobile-nav ul .menu-item-active {
    color: #d21013;
}

.section-header h3::after {
    background: #d21013;
}

#featured-services i {
    color: #d21013;
}

#about .about-col .icon {
    background-color: #d21013;
}

#about .about-col h2 a:hover {
    color: #d21013;
}

#services .icon i {
    color: #d21013;
}

#services .box:hover .title a {
    color: #d21013;
}

#call-to-action .cta-btn:hover {
    background: #d21013;
    border: 2px solid #d21013;
}

#facts .counters span {
    color: #d21013;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: #d21013;
}

#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
    background: #d21013;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
    color: #d21013;
}

#team .member .social a:hover {
    color: #d21013;
}

#contact .contact-info i {
    color: #d21013;
}

#contact .contact-info a:hover {
    color: #d21013;
}

#contact .form #sendmessage {
    color: #d21013;
    border: 1px solid #d21013;
}

#contact .form button[type="submit"] {
    background: #d21013;
}

#contact .form button[type="submit"]:hover {
    background: #a41313;
}

#emailbtn {
    background-color: #d21013;
    border-color: #c10000;
}

#emailbtn:hover {
    background-color: #c10000
}

#footer .footer-top .social-links a:hover {
    background: #d21013;
}

#footer .footer-top h4::after {
    background: #d21013;
}

#footer .footer-top .footer-links ul a:hover {
    color: #d21013;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #d21013;
}
.Background{
    background-image: url("../img/Flag_of_the_Soviet_Union.svg");
}
#secret::after {
    content: "DISCLAIMER: Les partis politiques représentés ne représente en aucun point le point de vue de l'ADEPT. Ce secret fait principalement référence à des mèmes(blagues) trouvés sur internet."
}
::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #111;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #FFD600;
}