<header id="header">
  <div class="container-fluid">
    <div
      id="logo"
      class="pull-left"
    >
      <h1>
        <a
          href="#"
          class="scrollto"
          >LAN ADEPT</a
        >
      </h1>
    </div>
    <nav id="nav-menu-container">
      <ul
        class="nav-menu sf-js-enabled sf-arrows"
        style="touch-action: pan-y"
      >
        <li class="menu-active d-block d-sm-none"><a href="#">Accueil</a></li>
        <li><a href="places">Places</a></li>
        <ng-container *ngIf="!this.authService.isLoggedIn">
          <li>
            <a href="/auth/login">Se connecter</a>
          </li>
        </ng-container>
        <ng-container *ngIf="this.authService.isLoggedIn">
          <li>
            <a
              [routerLink]="['/auth/profile']"
              routerLinkActive="router-link-active"
            >
              Profile
            </a>
          </li>
          <li>
            <a (click)="this.authService.logout()"> Se déconnecter </a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</header>
<div class="app-container">
  <div class="lan-home-background"></div>
  <router-outlet></router-outlet>
</div>
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <img
            src="assets/img/badge.png"
            id="footer-logo"
            alt="Logo"
          />
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a href="https://adeptinfo.ca/">Site de l'ADEPT</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Visitez-nous</h4>
          <p>
            945 chemin Chambly, Longueuil<br />Local F-045, CEM,<br />Québec, Canada <br />
            <a href="mailto:adept.informatique.cem@gmail.com">Nous écrire par courriel...</a>
          </p>
          <div class="social-links">
            <a
              href="https://www.facebook.com/ADEPTInformatique/"
              class="facebook"
              ><i class="fab fa-facebook-f"></i>
            </a>
            <a
              href="https://github.com/ADEPT-Informatique"
              class="git-hub"
              ><i class="fab fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      © Copyright 2019 <strong class="green">ADEPT Informatique</strong>. Tous droits réservés.
    </div>
    <div class="credits">
      Ce site web est
      <a href="https://github.com/ADEPT-Informatique/lan.adeptinfo.ca">open-source</a>. Merci à
      <a href="https://github.com/ADEPT-Informatique/lan.adeptinfo.ca/graphs/contributors">
        tous ceux qui y ont collaboré
      </a>
      ! <br /><span id="secret"></span>
    </div>
  </div>
</footer>
