<!-- Section de connexion avec l'API -->
<div class="col-10 col-md-2 col-xl-2 offset-xl-5 offset-md-5 offset-1"
  style="background-color: white; padding:10px; padding-top: 20px;border-radius: 5px;">
  <form [formGroup]="authForm" (ngSubmit)="submit()">
    <fieldset>

      <!-- Champ pour le Prénom de l'utilisateur -->
      <mat-form-field appearance="outline">
        <mat-label>Prénom </mat-label>
        <input matInput formControlName="first_name" type="text" placeholder="Pierre Olivier">
        <mat-error>{{getNomErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />

      <!-- Champ pour le Nom de l'utilisateur -->
      <mat-form-field appearance="outline">
        <mat-label>Nom </mat-label>
        <input matInput formControlName="last_name" type="text" placeholder="Brillant">
        <mat-error>{{getNomErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />

      <!-- Champ pour le courriel de l'utilisateur -->
      <mat-form-field appearance="outline">
        <mat-label>Courriel</mat-label>
        <input matInput formControlName="email" type="email" placeholder="moi@adeptinfo.ca">
        <mat-error>{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />

      <!-- Champ pour le mot de passe de l'utlisateur -->
      <mat-form-field appearance="outline">
        <mat-label>Mot de Passe</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Passw0rd!">
        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />
      
      <!-- Champ pour la confirmation du mot de passe de l'utlisateur -->
      <mat-form-field appearance="outline">
        <mat-label>Mot de Passe</mat-label>
        <input matInput formControlName="confrmPassword" type="password" placeholder="Passw0rd!">
        <mat-error>{{getConfrmPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br />
      <!-- Bouton de connection -->
      <button mat-raised-button color="primary" id="login-button">Créer le compte</button>

    </fieldset>
  </form>
</div>
